<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.boy.kfc">

    <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.Home_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Me_Activity"></activity>
        <activity android:name=".activity.News_Activity"></activity>
        <activity android:name=".activity.Order_Activity"></activity>
    </application>

</manifest>